@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background: #efefef;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body a {
	color: #88bfa6;
}

body a:hover {
	text-decoration: none;
	color: #dd8f2b;
}

.navbar {
	background: #fff;
	border-radius: 0;
	box-shadow: 0px 1px 3px #e0e0e0;
	height: 85px;
	padding-top: 15px;
	padding-left: 60px;
	font-size: 18px;
	font-family: Montserrat, "helvetica neue", helvetica, sans-serif;
	margin-bottom: 0px;
}

.navbar-brand {
	font-size: 26px;
	font-weight: 400;
}

.navbar-logo {
	float: left;
	padding: 0 15px 0 5px;
}

.navbar-right {
	margin-right: 43px;
}

.carousel {
    background: #000;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 400px;
    margin: 0 auto;
}

.carousel-caption {
	font-family: Montserrat, "helvetica neue", helvetica, sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-shadow: rgba(0,0,0,0.95) 2px 2px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	position:absolute;
	left:0;
}

.booyah-box {
	background: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
	border-radius: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

h1 {
	font-family: Montserrat, "helvetica neue", helvetica, sans-serif;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.pagination {
	font-family: "helvetica neue", helvetica, sans-serif;
}

.digg_pagination {
  background: none;
  cursor: default;
  text-align: center;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #88bfa6;
    color: white;
    border: 1px solid #88bfa6; }
  .digg_pagination a {
    text-decoration: none;
    color: #88bfa6;
    border: 1px solid #88bfa6; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #dd8f2b;
      border-color: #dd8f2b; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding:8px;
	margin-bottom: 15px;
}

#map-canvas {
	height: 300px;
}

.clear {
	clear:both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.index-image {
	overflow: hidden;
}

.index-image img {
	height: 294px;
	width: 294px;
	border-radius: 3px;
}

.alert {
	text-align: center;
	max-width: 83%;
	margin: 0 auto 20px;
	text-transform: uppercase;
}